name: CD Pipeline

on:
  workflow_run:
    workflows: ["CI Pipeline"]
    types:
      - completed

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker
        uses: docker/setup-buildx-action@v2

      - name: Start services with Docker Compose
        run: |
          docker compose up -d --build
          docker ps

      - name: Wait for containers
        run: sleep 10

      - name: Validate routing via NGINX (HTTPS)
        run: |
          curl -k -f -H "Host: app1.localhost" https://localhost/health
          curl -k -f -H "Host: app1.localhost" https://localhost/time

          curl -k -f -H "Host: app2.localhost" https://localhost/health
          curl -k -f -H "Host: app2.localhost" https://localhost/time

          curl -k -f -H "Host: app3.localhost" https://localhost/health
          curl -k -f -H "Host: app3.localhost" https://localhost/time

          curl -k -f -H "Host: app4.localhost" https://localhost/health
          curl -k -f -H "Host: app4.localhost" https://localhost/time

      - name: Stop services
        if: always()
        run: |
          docker compose down